#secondary {
	display: none;
}
/*
video,
#movie_player {
	height: 100vh !important;
	width: 100vw !important;
	position: sticky !important;
}*/
body:not(.scrollable-full) {
	overflow-y: scroll !important;
}
body.scrollable-full.hide-scrollbar {
	-ms-overflow-style: none !important;
	scrollbar-color: transparent transparent !important;
	scrollbar-width: none !important;
}
body.scrollable-full.hide-scrollbar::-webkit-scrollbar {
	display: none !important;
	width: 0 !important;
}
html:has(body.scrollable-full.hide-scrollbar) {
	-ms-overflow-style: none !important;
	scrollbar-color: transparent transparent !important;
	scrollbar-width: none !important;
}
body.scrollable-full.hide-scrollbar #primary,
body.scrollable-full.hide-scrollbar #secondary,
body.scrollable-full.hide-scrollbar ytd-app,
body.scrollable-full.hide-scrollbar ytd-watch,
body.scrollable-full.hide-scrollbar ytd-watch-flexy,
body.scrollable-full.hide-scrollbar ytd-watch-grid {
	-ms-overflow-style: none !important;
	scrollbar-color: transparent transparent !important;
	scrollbar-width: none !important;
}
body.scrollable-full.hide-scrollbar #primary::-webkit-scrollbar,
body.scrollable-full.hide-scrollbar #secondary::-webkit-scrollbar,
body.scrollable-full.hide-scrollbar ytd-app::-webkit-scrollbar,
body.scrollable-full.hide-scrollbar ytd-watch-flexy::-webkit-scrollbar,
body.scrollable-full.hide-scrollbar ytd-watch-grid::-webkit-scrollbar,
body.scrollable-full.hide-scrollbar ytd-watch::-webkit-scrollbar {
	display: none !important;
	height: 0;
	width: 0 !important;
}
body .html5-video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.html5-main-video {
	position: relative !important;
	top: 0 !important;
	width: 100% !important;
	left: 0 !important;
}

body #masthead-container {
	opacity: 0 !important;
}
body.show-chrome-pip #masthead-container {
	opacity: 1 !important;
	position: relative !important;
}
body #masthead-container.show,
body #masthead-container:focus-within,
body #masthead-container:hover {
	opacity: 1 !important;
}
.svg-container {
	margin: 9px;
	padding: 0 !important;
}
#full-size {
	width: 42px !important;
}
.ad-container:not(.ad-overlay) {
	top: 0;
}
.ytp-browser-button {
	display: inline-block !important;
}
body #full-bleed-container,
body ytd-app ytd-watch #player.ytd-watch,
body ytd-app ytd-watch-grid #player-full-bleed-container.ytd-watch-grid {
	height: 100vh !important;
	max-height: 100vh !important;
	min-height: 0 !important;
}
body.show-chrome-pip #full-bleed-container {
	height: calc(100vh - 56px) !important;
	max-height: calc(100vh - 56px) !important;
}
body ytd-page-manager,
body ytd-watch-flexy {
	margin-top: 0 !important;
}
body #movie_player:not(.miniplayer) {
	height: 100vh !important;
	width: 100% !important;
}
body.show-chrome-pip #movie_player:not(.miniplayer) {
	height: calc(100vh - 56px) !important;
}
body .ytp-chrome-top-buttons {
	display: none !important;
}
#movie_player.miniplayer {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 10px;
	height: 270px;
	position: sticky;
	right: 10px;
	transition: bottom 0.2s ease-in-out;
	width: 480px;
	z-index: 2299;
}
#movie_player.miniplayer.miniplayer-hide {
	bottom: -235px;
}
#movie_player .toggle-btn,
#movie_player .top-btn {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid hsla(0, 0%, 100%, 0.2);
	color: hsla(0, 0%, 100%, 0.7);
	display: none;
	position: absolute;
	top: 5px;
	width: 100px;
	z-index: 9999;
}
#movie_player.miniplayer.miniplayer-hide .toggle-btn {
	border: none;
	border-radius: 0;
	bottom: 0;
	display: flex !important;
	height: 50px;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}
#movie_player.miniplayer video {
	height: 270px !important;
	max-height: 270px !important;
	max-width: 480px !important;
	width: 480px !important;
}
#movie_player.miniplayer .ytp-chrome-bottom {
	max-height: 36px !important;
	max-width: 456px !important;
	width: 456px !important;
}
#movie_player.miniplayer .ytp-caption-segment {
	font-size: 12px !important;
}
#movie_player.miniplayer .ytp-miniplayer-button.ytp-button,
#movie_player.miniplayer .ytp-size-button.ytp-button {
	display: none !important;
}
#movie_player.miniplayer.miniplayer-hide .toggle-btn,
#movie_player.miniplayer:hover .toggle-btn,
#movie_player.miniplayer:hover .top-btn {
	display: flex;
}
#movie_player.miniplayer.miniplayer-hide:hover .top-btn {
	display: none;
}
#movie_player.miniplayer:hover .toggle-btn:hover,
#movie_player.miniplayer:hover .top-btn:hover {
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid hsla(0, 0%, 100%, 0.5);
	color: #fff;
}
#movie_player .top-btn {
	right: 5px;
}
#movie_player .toggle-btn {
	left: 5px;
}
#movie_player .toggle-btn div {
	align-items: center;
	background-color: hsla(0, 0%, 100%, 0.5);
	color: #000;
	display: flex;
	justify-content: center;
	transform: rotate(90deg);
}
body.hide-miniplayer-button .ytp-miniplayer-button,
body.hide-paid-promotion ytm-paid-content-overlay-renderer {
	display: none !important;
}
